{% extends 'base.html.twig' %}

{% block title %}
	{{ header }}
{% endblock %}

{% block body %}
	{% set props = 
			{
				header			: header,
				taskFormUrl     : path('app_task_form'),
				taskList		: taskList,
			} 
		%}

	<div data-vue-component="TaskList" data-props='{{ props |json_encode|raw }}'></div>
{% endblock %}
