{% extends 'base.html.twig' %}

{% block title %}Edit Topic{% endblock %}

{% block body %}
    <h1>Edit Topic</h1>

    {{ include('api_topic/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('api_topic_get_all') }}">back to list</a>

    {{ include('api_topic/_delete_form.html.twig') }}
{% endblock %}
