{% extends 'base.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
    <h1>Create new Topic</h1>

    {{ include('api_topic/_form.html.twig') }}

    <a href="{{ path('api_topic_get_all') }}">back to list</a>
{% endblock %}
