<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				My Task Manager
			{% endblock %}
		</title>
		<meta name="csrf-token" content="{{ csrf_token('task_api') }}">
		{{ vite_entry_link_tags('app') }}
	</head>
	<body>
		{% set props = 
			{
				loginUrl        : path('app_login'),
				registerUrl     : path('app_register'),
				logoutUrl       : path('app_logout'),
				isAuthenticated: app.user is not null,
				tasksListUrl 	: path('app_task_list'),
				tasksFormUrl	: path('app_task_form'),
			} 
		%}

		<div
			class="flex flex-col min-h-screen bg-gray-200 dark:bg-gray-900">
			{# NAVBAR #}
			<div data-vue-component="NavbarItem" data-props='{{ props | json_encode | raw }}'></div>

			{# MAIN CONTENT #}
			<main class="flex flex-1 container mx-auto p-4 text-gray-100 items-center justify-center sm:max-w-3/4"> {% block body %}{% endblock %}
				</main>

				{# FOOTER #}
				<div data-vue-component="FooterItem"></div>
			</div>

			{{ vite_entry_script_tags('app') }}
		</body>
	</html>
